<article class="container bg-tema-escuro-2 lista-produto-wrapper">
  <h1 class="font-1-xxl cor-texto-b-3 mb-12">Produtos</h1>
  <p class="font-2-m cor-texto-b-6 mb-60">Estes são todos os produtos que foram cadastrados por você.</p>
  <div class="lista-produto-produtos">
    <div class="lista-produto-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 6.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6">Mouse gamer RGB</h2>
      <p class="font-2-m cor-texto-b-3 mb-12">R$ 50,00</p>
      <div class="lista-produto-produtos-editar-btns">
        <a class="button">Editar</a>
        <a class="button">Excluir</a>
      </div>
    </div>
    <div class="lista-produto-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 2.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6">Iphone 14</h2>
      <p class="font-2-m cor-texto-b-3 mb-12">R$ 7.000,00</p>
      <div class="lista-produto-produtos-editar-btns">
        <a class="button">Editar</a>
        <a class="button">Excluir</a>
      </div>
    </div>
    <div class="lista-produto-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 4.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6">Notebook lenovo</h2>
      <p class="font-2-m cor-texto-b-3 mb-12">R$ 1.500,00</p>
      <div class="lista-produto-produtos-editar-btns">
        <a class="button">Editar</a>
        <a class="button">Excluir</a>
      </div>
    </div>
    <div class="lista-produto-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 7.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6">Impressora EPSON</h2>
      <p class="font-2-m cor-texto-b-3 mb-12">R$ 500,00</p>
      <div class="lista-produto-produtos-editar-btns">
        <a class="button">Editar</a>
        <a class="button">Excluir</a>
      </div>
    </div>
  </div>
</article>
