<article class="container bg-tema-escuro-2 favoritos-wrapper">
  <h1 class="font-1-xxl cor-texto-b-3 mb-12">Favoritos</h1>
  <p class="font-2-m cor-texto-b-6 mb-60">Estes são todos os produtos que foram favoritados por você.</p>
  <div class="favoritos-produtos">
    <div class="favoritos-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 6.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6 mb-8">Mouse gamer RGB</h2>
      <p class="font-2-m cor-texto-b-3">R$ 50,00</p>
    </div>
    <div class="favoritos-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 2.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6 mb-8">Iphone 14</h2>
      <p class="font-2-m cor-texto-b-3">R$ 7.000,00</p>
    </div>
    <div class="favoritos-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 4.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6 mb-8">Notebook lenovo</h2>
      <p class="font-2-m cor-texto-b-3">R$ 1.500,00</p>
    </div>
    <div class="favoritos-produtos-produto">
      <figure class="mb-12">
        <img src="../../assets/image 7.png" >
      </figure>
      <h2 class="font-2-m cor-texto-b-6 mb-8">Impressora EPSON</h2>
      <p class="font-2-m cor-texto-b-3">R$ 500,00</p>
    </div>
  </div>
</article>
<!--<div></div>

  <div class="row" *ngFor="let publicacao of produto">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>{{publicacao.nome_usuario}}</strong></p>
        </div>
  
       
        <div *ngIf="publicacao.url && publicacao.url.length">
          <div *ngFor="let urlItem of publicacao.url">
            
            <img class="card-img" [src]="urlItem" />
          </div>
        </div>  
  
        
        <div class="card-body">
          <p class="card-text">
            <strong></strong> {{publicacao.titulo}}
          </p>
          <p class="card-text">
            <strong></strong> R$ {{publicacao.valor}}
          </p>
          <p class="card-text">
            <strong></strong> {{publicacao.categoria}}
          </p>
  
          <hr />
         
        </div>
      </div>
    </div>-->


