
<div></div>

  <div class="row" *ngFor="let publicacao of produto">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>{{publicacao.nome_usuario}}</strong></p>
        </div>
  
       <!-- <img class="card-img" [src]="publicacao.url_imagem" />
         <img class="card-img" [src]="publicacao.url_imagem2" />
        
        */--> 
        <div *ngIf="publicacao.url && publicacao.url.length">
          <div *ngFor="let urlItem of publicacao.url">
            <img class="card-img" [src]="urlItem" />
          </div>
        </div>  
  
        
        <div class="card-body">
          <p class="card-text">
            <strong></strong> {{publicacao.titulo}}
          </p>
          <p class="card-text">
            <strong></strong> R$ {{publicacao.valor}}
          </p>
          <p class="card-text">
            <strong></strong> {{publicacao.categoria}}
          </p>
  
          <hr />
         
        </div>
      </div>
    </div>
  
