<article class="container bg-tema-escuro-2 usuario-container">
  <h1 class="font-1-xxl mb-12 cor-texto-b-3">Olá, Lucas</h1>
  <p class="font-2-m mb-60 cor-texto-b-6">Seja bem vindo a sua página. Aqui, você poderá relembrar os seus produtos favoritados, chats já iniciados e os seus produtos cadastrados.</p>
  
  <h1 class="font-1-xxl mb-12 cor-texto-b-3">Favoritos</h1>
  <div class="usuario-favoritos-wrapper mb-60">
    <div class="usuario-favoritos-produtos mb-12">
      <div class="usuario-favoritos-produto">
        <figure class="usuario-favoritos-imagem mb-12">
          <img src="../../assets/image 4.png">
        </figure>
        <h2 class="usuario-favoritos-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
        <p class="usuario-favoritos-preco font-2-m cor-texto-b-3">R$ 1.500,00</p>
      </div>
      <div class="usuario-favoritos-produto">
        <figure class="usuario-favoritos-imagem mb-12">
          <img src="../../assets/image 2.png">
        </figure>
        <h2 class="usuario-favoritos-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
        <p class="usuario-favoritos-preco font-2-m cor-texto-b-3">R$ 1.500,00</p>
      </div>
      <div class="usuario-favoritos-produto">
        <figure class="usuario-favoritos-imagem mb-12">
          <img src="../../assets/image 4.png">
        </figure>
        <h2 class="usuario-favoritos-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
        <p class="usuario-favoritos-preco font-2-m cor-texto-b-3">R$ 1.500,00</p>
      </div>
      <div class="usuario-favoritos-produto">
        <figure class="usuario-favoritos-imagem mb-12">
          <img src="../../assets/image 7.png">
        </figure>
        <h2 class="usuario-favoritos-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
        <p class="usuario-favoritos-preco font-2-m cor-texto-b-3">R$ 1.500,00</p>
      </div>
    </div>
    <a routerLink="/produtos/favoritos" class="font-2-l usuario-favoritos-verTodos cor-texto-b-3">Ver Todos <span class="cor-e-5">-></span></a>
  </div>
  
  <h1 class="font-1-xxl mb-14 cor-texto-b-3">Produtos</h1>
  <div class="usuario-produto mb-60">
    <div class="usuario-produto-cadastrar mb-16">
      <h2 class="font-2-l mb-8 cor-texto-b-6">Deseja cadastrar um produto?</h2>
      <a class="button font-1-s-b" routerLink="/cadastrar-produto">Cadastrar</a>
    </div>
    <div class="usuario-produto">
      <div class="usuario-produto-editar mb-16">
        <h2 class="font-2-l mb-8 cor-texto-b-6">Deseja editar ou excluir um produto?</h2>
        <div class="usuario-produto-editar-wrapper mb-60">
          <div class="usuario-produto-editar-produtos mb-12">
            <div class="usuario-produto-editar-produto">
              <figure class="usuario-produto-editar-imagem mb-12">
                <img src="../../assets/image 4.png">
              </figure>
              <h2 class="usuario-produto-editar-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
              <p class="usuario-produto-editar-preco font-2-m cor-texto-b-3 mb-14">R$ 1.500,00</p>
              <div class="usuario-produto-editar-btns">
                <a class="button" routerLink="/produtos/editar-produto">Editar</a>
                <a class="button">Excluir</a>
              </div>
            </div>
            <div class="usuario-produto-editar-produto">
              <figure class="usuario-produto-editar-imagem mb-12">
                <img src="../../assets/image 2.png">
              </figure>
              <h2 class="usuario-produto-editar-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
              <p class="usuario-produto-editar-preco font-2-m cor-texto-b-3 mb-14">R$ 1.500,00</p>
              <div class="usuario-produto-editar-btns">
                <a class="button" routerLink="/produtos/editar-produto">Editar</a>
                <a class="button">Excluir</a>
              </div>
            </div>
            <div class="usuario-produto-editar-produto">
              <figure class="usuario-produto-editar-imagem mb-12">
                <img src="../../assets/image 4.png">
              </figure>
              <h2 class="usuario-produto-editar-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
              <p class="usuario-produto-editar-preco font-2-m cor-texto-b-3 mb-14">R$ 1.500,00</p>
              <div class="usuario-produto-editar-btns">
                <a class="button" routerLink="/produtos/editar-produto">Editar</a>
                <a class="button">Excluir</a>
              </div>
            </div>
            <div class="usuario-produto-editar-produto">
              <figure class="usuario-produto-editar-imagem mb-12">
                <img src="../../assets/image 7.png">
              </figure>
              <h2 class="usuario-produto-editar-nome font-2-m mb-8 cor-texto-b-6">Notebook lenovo</h2>
              <p class="usuario-produto-editar-preco font-2-m cor-texto-b-3 mb-14">R$ 1.500,00</p>
              <div class="usuario-produto-editar-btns">
                <a class="button" routerLink="/produtos/editar-produto">Editar</a>
                <a class="button">Excluir</a>
              </div>
            </div>
          </div>
          <a routerLink="/produtos/lista-produto" class="font-2-l usuario-produto-editar-verTodos cor-texto-b-3">Ver Todos <span class="cor-e-5">-></span></a>
        </div>
      </div>
    </div>
  </div>
  <h1 class="font-1-xxl mb-14 cor-texto-b-3">Perfil</h1>
  <div class="usuario-perfil mb-60">
    <div class="usuario-perfil-editar mb-16">
      <h2 class="font-2-l mb-8 cor-texto-b-6">Deseja editar o seu perfil?</h2>
      <a class="button font-1-s-b" routerLink="/usuario/editar-usuario">editar</a>
    </div>
    <div class="usuario-produto">
      <div class="usuario-perfil-excluir mb-16">
        <h2 class="font-2-l mb-8 cor-texto-b-6">Deseja excluir sua conta?</h2>
        <a class="button font-1-s-b">excluir</a>
      </div>
    </div>
  </div>
</article>